@using EntityLayer.Concrete
@model List<WriterUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-6">
    <div class="p-2">
        <button type="button" id="btngetlistall" class="btn btn-success">Verileri Getir</button>
        <button type="button" id="btnadduser" class="btn btn-success">Ekle</button>
    </div>
</div>

<h4 class="text-center">Yazar Listesi</h4>
<div class="p2-" id="listuser">
    buraya veriler gelecek
</div>
<br />
@*<div class="col-md-12">
    <input type="text" class="form-control" id="inpname" placeholder="Ad" />
    <br />
    <input type="text" class="form-control" id="inpsurname" placeholder="Soyad" />
    <br />
    <input type="text" class="form-control" id="inpusername" placeholder="Kullanıcı Adı" />
    <br />
    <input type="email" class="form-control" id="inpmaile" placeholder="Mail Adresi" />
    <br />
</div>*@


@section Scripts
{
<script>
    $("#btngetlistall").click(function(){
        $.ajax({
            //iceregin türü
            contentType: "application/json",
            //verinin tipi
            dataType: "json",
            //get mi postlami calisacak
            type: "Get",
            //neredeki degeri getireceksin
            url: "/WriterUser/ListUser/",

            //eger basarili olursa bana bir fonksiyon dön ismi funk olsun dedik
            success: function (funk) {
                //let ajax da/js de degisken tanimlamak icin kullanilir
                //aldigimiz verileri jsona dondur dedik
                let users = jQuery.parseJSON(funk);
                console.log(users);
            }
        });
    });
</script>
}
@*yazdigimiz scriptin calismasi icin ekledik*@
<script src="~/lib/jquery/dist/jquery.js"></script>