<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        /* Kartlar arasına boşluk eklemek için CSS */
        .card {
            margin-bottom: 28px; /* Kartlar arasında boşluk ekler */
        }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!-- Kart 5 -->
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">@ViewBag.v3</h3>

                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon icon-box-success">
                                    <span class="mdi mdi-monitor"></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Verilen hizmetlerin sayısı</h6>
                    </div>
                </div>
            </div>


            <!-- Kart 6 -->
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">@ViewBag.v2</h3>

                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon icon-box-success">
                                    <span class="mdi mdi-email "></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Sayfadan Gelen Toplam Mesaj Sayısı</h6>
                    </div>

                </div>
            </div>

            <!-- Kart 7 -->

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">@ViewBag.v1</h3>

                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon icon-box-success ">
                                    <span class="mdi mdi-codepen "></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Aktif ve tamamlanan proje sayısı</h6>
                    </div>
                </div>
            </div>


            <!-- Kart 8 -->

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-9">
                                <div class="d-flex align-items-center align-self-start">
                                    <h3 class="mb-0">@ViewBag.v4</h3>

                                </div>
                            </div>
                            <div class="col-3">
                                <div class="icon icon-box-danger ">
                                    <span class="mdi mdi-codepen "></span>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-muted font-weight-normal">Aktif ve tamamlanmayan proje sayısı</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>



