
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>    
        <div class="row">
            <!-- 1. Satır -->
            <div class="col-md-12">
                @await Component.InvokeAsync("FeatureStatistics")
            </div>
          
        </div>
        <!-- 2. Satır -->
        <div class="row">
            <!-- 4. Sütun - L Harfi Düzeni -->
            <div class="col-md-9">
                @await Component.InvokeAsync("ProjectList")
            </div>
            <div class="col-md-3">
                @await Component.InvokeAsync("StatisticsDashboard2")
            </div>
        </div> 

    <div class="row">

        @await Component.InvokeAsync("MessageList")

        @await Component.InvokeAsync("SlideList")

        @await Component.InvokeAsync("ToDoListPanel")
    </div>
    @await Component.InvokeAsync("VisitorMap")
</body>
</html>



