@model Core_Proje.Models.PortfolioViewModel
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        select {
            color: white !important;
        }
    </style>
</head>

<body>


    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Proje Ekleme</h4>
                <form method="post" class="forms-sample" enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Proje</label>
                        <input type="text" name="Name" class="form-control" placeholder="Proje Adı Giriniz" />
                        @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Platform</label>
                        <select typeof="text" class="form-control" name="Platform">

                            <option value="/argon-dashboard-master/assets/img/theme/c-sharp.svg">C#</option>
                            <option value="/argon-dashboard-master/assets/img/theme/windowsForm.png">Windows Form</option>
                            <option value="/argon-dashboard-master/assets/img/theme/angular.jpg">Angular</option>
                            <option value="/argon-dashboard-master/assets/img/theme/bootstrap.jpg">Bootstrap</option>
                            <option value="/argon-dashboard-master/assets/img/theme/react.jpg">React</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Ana sitedeki tanıtım kartında görünecek resim</label>
                        <input class="form-control" type="file" id="formFile1" name="Picture">
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Ana sitedeki büyük resim</label>
                        <input class="form-control" type="file" id="formFile2" name="Picture2">
                    </div>
                    <div class="form-group">
                        <label>Proje Adresi</label>
                        <input type="text" name="ProjectUrl" class="form-control" placeholder="Projeye ait link">
                    </div>
                    <div class="form-group">
                        <label>Ücret</label>
                        <input type="text" name="Price" class="form-control" placeholder="Projeye ücreti, Örn. $2000 USD">
                        @Html.ValidationMessageFor(x => x.Price, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label>İlerleme (%)</label>
                        <input type="text" name="Value" class="form-control" placeholder="Örn. 65">
                        @Html.ValidationMessageFor(x => x.Value, null, new { @class = "text-danger" })

                    </div>


                    <button type="submit" class="btn btn-success">Kaydet</button>
                    <a href="/Portfolio" class="btn btn-danger">İptal</a>
                </form>

            </div>
        </div>
    </div>

</body>
</html>
