<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="~/Writer/DashboardWriter/Index">
                <i class="mdi mdi-information-outline menu-icon"></i>
                <span class="menu-title">Gösterge Paneli</span>
            </a>
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link" href="/Default/Index/">
                    <i class="mdi mdi-web  menu-icon"></i>
                    <span class="menu-title">Siteye Git</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Dashboard/Index/">
                    <i class="mdi mdi-worker  menu-icon"></i>
                    <span class="menu-title">Admin Paneli</span>
                </a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SendMessage">
                <i class="mdi mdi-contact-mail  menu-icon"></i>
                <span class="menu-title">Yeni Mesaj</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/ReceiverMessage">
                <i class="mdi mdi-email-open  menu-icon"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SenderMessage">
                <i class="icon-mail  menu-icon"></i>
                <span class="menu-title">Gönderilen Mesajlar</span>
            </a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index">
                <i class="ti-announcement menu-icon"></i>
                <span class="menu-title">Duyurular</span>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index">
                <i class="mdi mdi-account menu-icon"></i>
                <span class="menu-title">Profil</span>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Login/LogOut">
                <i class="icon-power menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>