@model Core_Proje.Areas.Writer.Models.UserEditViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Profil Bilgileri Düzenle</h4>
            @*enctype="multipart/form-data" bu kisim kendi resim dosyamizi klasore kaydedebilmek icin*@
        <form class="forms-sample" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="exampleInputName1">Adınız</label>
                        <input type="text" asp-for="Name" value="@Model.Name" class="form-control" placeholder="Ad">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Soyadınız</label>
                        <input type="text" class="form-control" asp-for="Surname" value="@Model.Surname" placeholder="Soyad">
                    </div>
                    <div class="form-group">
                        <label>Resim Güncelle </label>
                        <br />
                        <input type="file" asp-for="Picture" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Şifreniz</label>
                        <input type="password" class="form-control" name="Password" placeholder="Şifre">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword4">Şifre Tekrar</label>
                        <input type="password" class="form-control" name="ComfirmPassword" placeholder="Şifre tekrar">
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="ProfilePicture">Profil Resmi Önizleme</label>
                        <br />
                        <img src="/userimage/@Model.PictureUrl" id="ProfilePicture" alt="Profil Resmi" class="form-control" style="width:100%; height:275px;">
                    </div>
                </div>
            </div>
            
     


            <button type="submit" class="btn btn-warning mr-2">Güncelle</button>
            <button class="btn btn-danger">İptal</button>
        </form>
        </div>
    </div>
</div>

