
@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<form method="post">
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Deneyim Ekleme</h4>
            <form class="forms-sample">
                <div class="form-group">
                    <label for="exampleInputName1">Başlık</label>
                    <input type="text" class="form-control" name="Name" placeholder="Deneyim Adı Giriniz">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Tarih</label>
                    <input type="text" class="form-control" name="Date" placeholder="Örn. Veri Tabanı (2021-2023)">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Resim Yolu</label>
                    <input type="text" class="form-control" name="ImageUrl" >
                </div>
                <div class="form-group">
                    <label for="exampleSelectGender">Açıklama</label>
                    <input type="text" class="form-control" name="Description" placeholder="Kısaca özetleyeniz.">
                        
                </div>        
                
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <button href="/Experience" class="btn btn-dark">İptal</button>
            </form>
        </div>
    </div>
</div>
 
</form>

