@using EntityLayer.Concrete
@model List<Experience>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0 d-flex align-items-center">
    <h3 class="mb-0 mr-auto">Deneyimler</h3>
    <a href="/Skill/AddSkill" class="btn btn-success">Deneyim Ekle</a>
</div>
<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Başlık</th>
                <th scope="col" class="sort" data-sort="status">Tarih</th>
                <th scope="col"></th>
                <th scope="col" class="sort" data-sort="completion"></th>

            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.ExperienceId
                    </td>
                    <td class="budget">
                        @item.Name
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="completion mr-2">@item.Date</span>
                            <div>
                                
                            </div>
                        </div>
                    <td> <a href="/Skill/DeleteSkill/@item.ExperienceId" class="btn btn-youtube">Sil</a></td>
                    <td> <a href="/Skill/EditSkill/@item.ExperienceId" class="btn btn-info">Güncelle</a></td>

                </tr>
            }
        </tbody>
    </table>

</div>


