
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("HeadPartial")

<body>
    <div class="container-scroller">

        @await Html.PartialAsync("_NavbarPartial")

        <div class="container-fluid page-body-wrapper">

            @await Html.PartialAsync("_SidebarPartial")

            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">

                        @RenderBody()
                    </div>
                </div>

                @await Html.PartialAsync("_FooterPartial")

            </div>

        </div>

    </div>

    @await Html.PartialAsync("_ScriptsPartial")

</body>

</html>
